html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0 }
body, input, textarea, select, button, table { font-size:14px; line-height:1.25em; font-family: "Nanum Barun Gothic", sans-serif;}
html, body { height: 100%; padding:0; margin:0; }
img, fieldset { border:0 }
ul, li, ol { list-style:none }
em, address { font-style:normal }
a, a:visited, a:link { text-decoration:none ; color: #333333; }

body {
    width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased; !important;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}